<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<div th:replace="~{/fragments/heads.html :: heads}"></div>


<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sign Up Start -->
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">


            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <a href="/templates/index.html" class="">
                            <h3 class="text-primary"></i>Cadastro de Cidadão</h3>
                        </a>
                    </div>
                    <form th:action="@{/cidadao/salvar}" th:object="${cidadao}"  method="post">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nome" placeholder="Usuário" th:field="*{nome}"/>
                            <label for="nome">Usuario</label>

                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="cpf" placeholder="CPF" th:field="*{cpf}"/>
                            <label for="cpf">CPF</label>

                        </div>

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="name@example.com"
                                   th:field="*{email}"/>
                            <label for="email">Email</label>

                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="senha" placeholder="Senha"
                                   th:field="*{senha}"/>
                            <label for="senha">Senha</label>

                        </div>

                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Cadastrar</button>
                    </form>

                </div>
            </div>


        </div>
    </div>
    <!-- Sign Up End -->
</div>

<div th:replace="~{/fragments/javascript-lib.html :: javascriptlib}"></div>


</body>
</html>


    <script src="/assets/js/viacep.js"></script>
