<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

<head>
    <link href="/assets/img/logo.png" rel="icon">

    <title>Cadastro de Ocorrência</title>
    <div th:replace="~{/fragments/heads.html :: heads}"></div>
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justYify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Carregando...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>
    <!-- Sidebar End -->

    <form th:action="@{/ocorrencia/salvar}" th:object="${ocorrencia}" method="post">
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <div th:replace="~{/fragments/navbar.html :: navbar}"></div>
            <!-- Navbar End -->

            <!-- Form Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                    </div>
                </div>
                <div class="bg-secondary rounded h-100 p-4">
                    <center><h6 class="mb-4">Cadastro de Ocorrência</h6></center>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="cep" th:field="*{endereco.cep}">
                        <label for="cep">CEP</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="rua"
                               placeholder="Leave a comment here">
                        <label for="rua">Nome da Rua</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="bairro"
                               placeholder="Leave a comment here">
                        <label for="bairro">Bairro</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect"
                                aria-label="Floating label select example">
                            <option selected>Selecione tipo de ocorrência</option>
                            <option value="1">Buraco</option>
                            <option value="2">Barranco</option>
                            <option value="3">Arvores</option>
                            <option value="3">Muros</option>
                            <option value="3">Iluminação</option>
                        </select>
                    </div>
                    <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here"
                                          id="floatingTextarea" style="height: 150px;"></textarea>
                        <label for="floatingTextarea">Comentarios</label>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Anexe aqui a foto de sua ocorrencia!</label>
                        <input class="form-control bg-dark" type="file" id="formFile">
                    </div>
                    <center>
                        <button type="submit" class="btn btn-primary py-3 w-25 mb">Cadastrar</button>
                    </center>
                </div>

            </div>

            <!-- Form End -->


            <!-- Footer Start -->
            <div th:replace="~{/fragments/footer.html :: footer}"></div>
            <!-- Footer End -->
        </div>

        <!-- Content End -->

    </form>
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>


<!-- JavaScript Libraries -->
<div th:replace="~{/fragments/javascript-lib.html :: javascriptlib}"></div>

<!-- Template Javascript -->
<script src="/assets/js/viacep.js"></script>
<script src="/assets/js/main.js"></script>



</body>
</html>