<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
    <title>Cadastro de Cidadoes</title>
    <div th:replace="~{/fragments/heads.html :: heads}"></div>
<body>
<div class="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>
    <!-- End Sidebar -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="~{/fragments/navbar.html :: navbar}"></div>
        <!-- Navbar End -->

        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <center><h3 class="fw-bold mb-3">Cadastro de Usuarios</h3></center>

                </div>
                <div class="row">
                    <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <span th:text="${mensagem}"></span>
                    </div>
                    <div class="col-md-12">
                        <div class="card bg-secondary">
                            <div class="card-header">
                                <span class="card-title">Listagem de Usuario</span>
                                <a
                                        th:href="@{/user/form-inserir}"
                                        class="btn btn-primary"
                                        style="float: right"
                                > Novo Cidadão</a>
                            </div>
                            <div class="card-body" style="background-color: #1e2125">
                                <div class="table-responsive">
                                    <table
                                            id="basic-datatables"
                                            class="display table table-striped table-hover" style="background-color: #1e2125">
                                        <thead>
                                        <tr>
                                            <th style="width: 7%">ID</th>
                                            <th>Nome</th>
                                            <th>Email</th>
                                            <th>Imagens</th>
                                            <th class="text-center" style="width: 7%">Ações</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr th:if="${usuarios.empty}">
                                            <td colspan="4">Nenhum registro encontrado</td>
                                        </tr>

                                        <tr th:each="usuario : ${usuarios}" >
                                            <td style="width: 7%">
                                                <span th:text="${usuario.id}">ID</span>
                                            </td>
                                            <td>
                                                <span th:text="${usuario.firstName}">Nome</span>
                                            </td>
                                            <td>
                                                <span th:text="${usuario.email}">Email</span>
                                            </td>
                                            <td>
                                                <img class="imagem-modal" th:src="@{/assets/img/fotos-usuarios/{image}(image=${usuario.image})}" alt="Descrição da imagem" style="height: 100px">

                                                <!--<span th:text="${usuario.image}">Imagem</span>-->
                                            </td>

                                            <td>
                                                usuario
                                            <td class="text-center" style="width: 7%">
                                                <a th:href="@{/user/form-alterar/{id}(id=${usuario.id})}" class="edit" data-toggle="modal">
                                                    <i class="fa fa-edit" data-toggle="tooltip" title="Alterar"></i>
                                                </a>
                                                <a th:href="@{/user/excluir/{id}(id=${usuario.id})}"
                                                   th:data-confirm-delete="|Você gostaria de apagar ${usuario.firstName}?|"
                                                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"

                                                   id="alertDelete"
                                                   class="delete">
                                                    <i class="fa fa-times" style="color: red; margin-left: 10px;" data-toggle="tooltip" title="Excluir"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{/fragments/footer.html :: footer}"></div>
    </div>

    <!-- End Custom template -->
</div>
<div th:replace="~{/fragments/javascript-lib.html :: javascriptlib}"></div>

</body>
</html>