<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<body>
<div  th:fragment="navbar">


    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="/assets/img/logo.png"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <input class="form-control bg-dark border-0" type="search" placeholder="Pesquisar">
        </form>
        <div class="navbar-nav align-items-center ms-auto">

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Notificações</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Perfil atualizado!</h6>
                        <small>15 minutos atrás.</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Email verificado!</h6>
                        <small>10 minutos atrás.</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Cadastro realizado!</h6>
                        <small>5 minutos atrás.</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">Ver todas as notificações</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img
                            th:if="${#authentication.principal.id}"
                            th:src="@{/assets/img/fotos-usuarios/{id}(id=${#authentication.principal.image})}"
                            class="rounded-circle me-lg-2"
                            alt=""
                            style="width: 40px; height: 40px;"
                    >
                    <span
                            th:if="${#authentication.principal.id}"
                            th:text="${#authentication.principal.firstName}"
                            class="d-none d-lg-inline-flex"
                    >
                        Usuário
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">Meu perfil</a>
                    <a href="#" class="dropdown-item">Configurações</a>
                    <a href="#" class="dropdown-item">Sair</a>
                </div>
            </div>
        </div>
    </nav>

</div>
</body>
</html>
