<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div  th:fragment="sidebar">



    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <a href="index.html" class="navbar-brand mx-4 mb-3">
                <h3>
                    <img src="/assets/img/logo.png" alt="Logo AlertVia" class="me-2" style="width: 1em; height: auto; vertical-align: middle;">
                    <span style="color: red; font-weight: bold;">AlertVia</span>
                </h3>            </a>
            <div class="d-flex align-items-center ms-4 mb-4">

                    <img
                            th:if="${#authentication.principal.id}"
                            th:src="@{/assets/img/fotos-usuarios/{id}(id=${#authentication.principal.image})}"
                            class="rounded-circle me-lg-2"
                            alt=""
                            style="width: 40px; height: 40px;"
                    >
                    <span
                            th:if="${#authentication.principal.id}"
                            th:text="${#authentication.principal.firstName}"
                            class="d-none d-lg-inline-flex"
                    >
                        Usuário
                    </span>
                </a>
            </div>
            <div class="navbar-nav w-100">
                <a href="index.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Inicio</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Ocorrências</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="/home" class="dropdown-item">Tipo de Ocorrência</a>
                    </div>

                </div>
                </div>
        </nav>
    </div>

</div>
</body>
</html>
