<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div  th:fragment="sidebar">



    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
            <a href="index.html" class="navbar-brand mx-4 mb-3">
                <h3>
                    <img src="/assets/img/logo.png" alt="Logo AlertVia" class="me-2" style="width: 1em; height: auto; vertical-align: middle;">
                    <span style="color: red; font-weight: bold;">AlertVia</span>
                </h3>            </a>
            <div class="d-flex align-items-center ms-4 mb-4">

                    <img
                            th:if="${#authentication.principal.id}"
                            th:src="@{/assets/img/fotos-usuarios/{id}(id=${#authentication.principal.image})}"
                            class="rounded-circle me-lg-2"
                            alt=""
                            style="width: 40px; height: 40px;"
                    >
                    <span
                            th:if="${#authentication.principal.id}"
                            th:text="${#authentication.principal.firstName}"
                            class="d-none d-lg-inline-flex"
                    >
                        Usuário
                    </span>
            </div>
            <div class="navbar-nav w-100">
                <a href="/a/index" class="nav-item nav-link" onclick="setActive(this)"><i class="fa fa-tachometer-alt me-2"></i>Inicio</a>
                <a href="/ocorrencia" class="nav-item nav-link "onclick="setActive(this)"><i class="fa fa-th me-2"></i>Ocorrências</a>
                <a href="/user" class="nav-item nav-link"onclick="setActive(this)"><i class="fa fa-th me-2"></i>Usuários</a>
                <a href="/a/teste" class="nav-item nav-link"onclick="setActive(this)"><i class="fa fa-keyboard me-2"></i>Estatísticas</a>
            </div>


        </nav>
                </div>
        </nav>
    </div>

</div>
<script>
    function setActive(element) {
        // Remove a classe "active" de todos os itens
        const navItems = document.querySelectorAll('.nav-item');
        navItems.forEach(item => item.classList.remove('active'));

        // Adiciona a classe "active" no item que foi clicado
        element.classList.add('active');
    }

    // Quando a página for carregada, adiciona a classe "active" no link correto baseado no URL
    window.addEventListener('load', function() {
        const currentPath = window.location.pathname; // Obtém o caminho da URL
        const navLinks = document.querySelectorAll('.nav-item');

        navLinks.forEach(link => {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active'); // Adiciona a classe 'active' no item correspondente à URL
            }
        });
    });
</script>
</body>
</html>
