<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<title>Estatísticas</title>
<div th:replace="~{/fragments/heads.html :: heads}"></div>
<body>
<div class="wrapper">
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>
    <div class="content">
        <div th:replace="~{/fragments/navbar.html :: navbar}"></div>

        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-line fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Ocorrências recebidas</p>
                            <h6 class="mb-0">120</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Ocorrências atendidas</p>
                            <h6 class="mb-0">05</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-area fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Investimento Estimado</p>
                            <h6 class="mb-0">R$22.000</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-pie fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Investimento Aprovado</p>
                            <h6 class="mb-0">R$17.500</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sale & Revenue End -->

        <div class="row">


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Infraestrutura regional</h6>
                                <a href="">Mostrar mais</a>
                            </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Infraestrutura regional</h6>
                            <a href="">Mostrar mais</a>
                        </div>
                        <canvas id="worldwide-sales"></canvas>
                    </div>
                </div>
                </div>
            </div>
            <!-- Sales Chart End -->


            <div th:replace="~{/fragments/footer.html :: footer}"></div>

        </div>


        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        <!--
        </div>
        -->


        <div th:replace="~{/fragments/javascript-lib.html :: javascriptlib}"></div>
    </div>
</div>
</body>

</html>
