<!DOCTYPE html>
<html lang="en">

<div th:replace="~{/fragments/heads.html :: heads}"></div>


<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Carregando...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <form th:action="@{login}" method="post">
        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="../index.html" class="">
                                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>AlertVia</h3>
                            </a>
                            <h3>Logar</h3>
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                    type="text"
                                    name="username"
                                    class="form-control"
                                    id="floatingInput"
                                    placeholder="nome@exemplo.com">
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input
                                    type="password"
                                    name="password"
                                    class="form-control"
                                    id="floatingPassword"
                                    placeholder="Senha">
                            <label for="floatingPassword">Senha</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <a href="">Esqueceu a senha?</a>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Logar</button>
                        <p class="text-center mb-0">não possui conta? <a href="#">Registrar</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </form>
</div>

<!-- JavaScript Libraries -->
<div th:replace="~{/fragments/javascript-lib.html :: javascriptlib}"></div>

<!-- Template Javascript -->
<script src="../assets/js/main.js"></script>

</body>
</html>